{% extends 'base.html' %}
{% block content %}
<h2 class="text-center mb-4">Boutique</h2>
<div class="row g-4 justify-content-center">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card h-100 text-center border-0 shadow">
            <div class="card-body">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 80px; height: 80px; object-fit: contain;" class="mb-3">
                {% else %}
                    <img src="https://cdn.pixabay.com/photo/2017/01/31/13/14/physiotherapy-2025632_1280.png" alt="Produit" style="width: 80px; height: 80px; object-fit: contain;" class="mb-3">
                {% endif %}
                <h4 class="card-title">{{ product.name }}</h4>
                <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                <span class="badge bg-success">{{ product.price }} DA</span>
                <div class="mt-3">
                    <a href="#" class="btn btn-success">Acheter</a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-center">Aucun produit disponible.</p>
    {% endfor %}
</div>
{% endblock %} 